<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta  charset="UTF-8"/>
    <title>查询结果</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body class="container">
<br/>
<h2>查询结果</h2>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
        <tbody>
            <td th:text="${city}"></td>
        <tr th:each="se:${result}">
            <td th:text="${se.weaid}"></td>
            <td th:text="${se.area_1}"></td>
            <td th:text="${se.area_2}"></td>
            <td th:text="${se.area_3}"></td>
        </tr>
            <tr th:each="ser:${realtime}">
                <td th:text="${ser.week}">日期</td>
                <td th:text="${ser.wtNm}">天气</td>
                <td th:text="${ser.wtWindNm}">风向</td>

            </tr>
        </tbody>
        <a th:href="@{/}" class="btn btn-info col-2">回退</a>
    </table>
</div>
</body>
</html>
